In [3]:
import pandas as pd
d=pd.read_csv('/dataset1.csv')
print(d)

   rollno  stname subject  marks
0       1   radha      cn     89
1       2    sita    dbms     78
2       3  tharun      os     99
3       4    ramu      cn     87
4       5  yamini      os     59

In [4]:
d=pd.read_excel('/dataset1.xlsm')
print(d)

   rollno  stname subject  marks
0       1   radha      cn     89
1       2    sita    dbms     78
2       3  tharun      os     99
3       4    ramu      cn     87
4       5  yamini      os     59

In [5]:
d=pd.read_csv('/dataset1.tsv')
print(d)

  rollno\tstname\tsubject\tmarks
0               1\tradha\tcn\t89
1              2\tsita\tdbms\t78
2              3\ttharun\tos\t99
3                4\tramu\tcn\t87
4              5\tyamini\tos\t59